@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  background: #014E56;
  font-family: "Livvic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
  margin: 0;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__content {
  padding-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  max-width: 160px;
  margin-left: 165px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item + .header__item {
  margin-left: 40px;
}

.header__item-link {
  max-width: 51px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__link {
  max-width: 153px;
  padding: 9px 33px 11px 32px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__btn {
  max-width: 20px;
  height: 17px;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1250px) {
  .header__img {
    max-width: 128px;
    margin-left: 39px;
  }
}
@media only screen and (max-width: 730px) {
  .header__img {
    max-width: 128px;
    margin-left: 24px;
  }
  .header__navbar {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header__btn {
    display: inline-block;
  }
}
.hero__content {
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__left-box {
  margin-left: 165px;
}

.hero__tittle {
  max-width: 350px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.hero__sup-tittle {
  max-width: 540px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
}

.hero__item {
  width: 540px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item-text {
  margin-left: 23px;
  margin-top: 23px;
  max-width: 408px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero__name {
  max-width: 540px;
  padding: 0 407px 17px 14px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 24px;
}

.name2 {
  padding-bottom: 58px;
}

.hero__link {
  display: block;
  max-width: 123px;
  padding: 9px 32px 11px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
}

@media only screen and (max-width: 1280px) {
  .hero__content {
    display: block;
  }
  .hero__left-box {
    margin-right: auto;
    margin-left: auto;
  }
  .hero__tittle {
    max-width: 248px;
    margin-bottom: 24px;
    line-height: 56px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__sup-tittle {
    max-width: 200px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__item {
    width: 442px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
  }
  .hero__name {
    display: block;
    max-width: 540px;
    padding: 0 407px 17px 14px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .name2 {
    padding-bottom: 58px;
  }
  .hero__link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 123px;
    padding: 9px 32px 11px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #004047;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .hero__content {
    display: block;
  }
  .hero__left-box {
    margin-left: 24px;
  }
  .hero__tittle {
    max-width: 157px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .hero__sup-tittle {
    max-width: 200px;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
  .hero__navbar {
    margin-bottom: 56px;
  }
  .hero__item {
    margin-right: auto;
    margin-left: auto;
    width: 327px;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__item-text {
    margin-left: 23px;
    margin-top: 23px;
    max-width: 232px;
  }
  .hero__name {
    max-width: 327px;
    padding: 0 197px 17px 14px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 24px;
  }
  .name2 {
    padding-bottom: 58px;
  }
}
#footer {
  background: #002529;
}

.footer__content {
  padding-top: 48px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  max-width: 160px;
  margin-left: 165px;
  margin-bottom: 25px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item + .footer__item {
  margin-left: 16px;
}

.footer__item-link {
  max-width: 49px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__text {
  max-width: 179px;
  margin-left: 125px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}

.footer__icon + .footer__icon {
  margin-left: 16px;
}

.footer__icon {
  max-width: 24px;
  height: 24px;
}

.footer__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

@media only screen and (max-width: 1314px) {
  .footer__content {
    padding-top: 56px;
    padding-bottom: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__logo {
    max-width: 96px;
    margin-left: 39px;
    margin-bottom: 53px;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 39px;
  }
  .footer__item + .footer__item {
    margin-left: 24px;
  }
  .footer__item-link {
    max-width: 40px;
    font-size: 15px;
    line-height: 25px;
  }
  .footer__text {
    position: absolute;
    top: 56px;
    left: 424px;
    max-width: 174px;
    text-align: right;
  }
  .box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 191px;
    left: -500px;
    margin-bottom: 56px;
  }
  .footer__icon + .footer__icon {
    margin-left: 16px;
  }
  .footer__icon {
    max-width: 24px;
    height: 24px;
  }
  .footer__link {
    position: absolute;
    max-width: 255px;
    top: 190px;
    left: 473px;
  }
}
@media only screen and (max-width: 780px) {
  .footer__content {
    max-width: 780px;
    height: 432px;
    padding-top: 66px;
    display: block;
    position: relative;
  }
  .footer__logo {
    max-width: 96px;
    margin-left: 116px;
    margin-bottom: 24px;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 110px;
  }
  .footer__item + .footer__item {
    margin-left: 24px;
  }
  .footer__item-link {
    max-width: 41px;
    font-size: 15px;
    line-height: 25px;
  }
  .footer__text {
    position: absolute;
    top: 163px;
    left: -70px;
    max-width: 166px;
  }
  .box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: -450px;
    top: 303px;
  }
  .footer__link {
    position: absolute;
    top: 343px;
    left: 0px;
  }
}/*# sourceMappingURL=main.css.map */