#footer{
    background: #002529;
}
.footer__content{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo{
    max-width: 160px;
    margin-left: 165px;
    margin-bottom: 25px;
}
.footer__list{
    display: flex;
}
.footer__item+.footer__item{
    margin-left: 16px;
}
.footer__item-link{
    max-width: 49px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;  
}
.footer__text{
    max-width: 179px;
    margin-left: 125px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;   
}
.box2{
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}
.footer__icon+.footer__icon{
    margin-left: 16px;
}
.footer__icon{
    max-width: 24px;
    height: 24px;
}
.footer__link{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6; 
}
@media only screen and (max-width:1314px)