#footer{
    background: #002529;
}
.footer__content{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    position: relative;
}
.footer__logo{
    max-width: 160px;
    margin-left: 165px;
    margin-bottom: 25px;
}
.footer__list{
    display: flex;
    margin-left: 165px;
}
.footer__item+.footer__item{
    margin-left: 40px;
}
.footer__item-link{
    max-width: 49px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;  
}
.footer__text{
    max-width: 179px;
    margin-left: 125px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;   
}
.box2{
    display: flex;
    margin-left: 542px;
}
.footer__icon+.footer__icon{
    margin-left: 16px;
}
.footer__icon{
    max-width: 24px;
    height: 24px;
}
.footer__link{
    position: absolute;
    top: 123px;
    left: 1020px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6; 
}
@media only screen and (max-width:1314px){
        
    .footer__content{
        padding-top: 56px;
        padding-bottom: 56px;
        display: flex;
    }
    .footer__logo{
        max-width: 96px;
        margin-left: 39px;
        margin-bottom: 53px;
    }
    .footer__list{
        display: flex;
        margin-left: 39px;
    }
    .footer__item+.footer__item{
        margin-left: 24px;
    }
    .footer__item-link{
        max-width: 40px;
        font-size: 15px;
        line-height: 25px;
    }
    .footer__text{
        position: absolute;
        top: 56px;
        left: 424px;
        max-width: 174px;
        text-align: right;
    }
    .box2{
        display: flex;
        position: absolute;
        top: 191px;
        left: -500px;
        margin-bottom: 56px;
    }
    .footer__icon+.footer__icon{
        margin-left: 16px;
    }
    .footer__icon{
        max-width: 24px;
        height: 24px;
    }
    .footer__link{
        position: absolute;
        max-width: 255px;
        top: 190px;
        left: 473px;
    }
}
@media only screen and (max-width:780px){
    
    .footer__content{
        max-width: 780px;
        height: 432px;
        padding-top: 66px;
        display: block;
        position: relative;
    }
    .footer__logo{
        max-width: 96px;
        margin-left: 116px;
        margin-bottom: 24px;
    }
    .footer__list{
        display: flex;
        margin-left: 110px;
    }
    .footer__item+.footer__item{
        margin-left: 24px;
    }
    .footer__item-link{
        max-width: 41px;
        font-size: 15px;
        line-height: 25px;
    }
    .footer__text{
        position: absolute;
        top: 163px;
        left: -70px;
        max-width: 166px;
    }
    .box2{
        display: flex;
        position: absolute;
        left: -450px;
        top: 303px;
    }
    .footer__link{
        position: absolute;
        top: 343px;
        left: 0px;
    }
}