.hero__content{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.hero__left-box{
    margin-left: 165px;
}
.hero__tittle{
    max-width: 350px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;  
}
.hero__sup-tittle{
    max-width: 540px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;  
}
.hero__item{
    width: 540px;
    margin-bottom: 8px;
    display: flex;
}
.hero__item-text{
    margin-left: 23px;
    margin-top: 23px;
    max-width: 408px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;  
}
.hero__name{
    max-width: 540px;
    padding: 0 407px 17px 14px ;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 24px;
}
.name2{
    padding-bottom: 58px;
}
.hero__link{
    display: block;
    max-width: 123px;
    padding: 9px 32px 11px 32px ;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #004047;  
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;  
}
@media only screen and (max-width:1280px){
    .hero__content{
        display: block;
    }
    .hero__left-box{
        margin-right: auto;
        margin-left: auto;
    }
    .hero__tittle{
        max-width: 248px;
        margin-bottom: 24px;
        line-height: 56px;
        margin-right: auto;
        margin-left: auto; 
    }
    .hero__sup-tittle{
        max-width: 200px;
        margin-bottom: 24px;
        margin-right: auto;
        margin-left: auto;  
    }
    .hero__item{
        width: 442px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
        display: flex;
        margin-bottom: 70px;
    }
    .hero__name{
        display: block;
        max-width: 540px;
        padding: 0 407px 17px 14px ;
        background-color: inherit;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        margin-bottom: 24px;
        margin-right: auto;
        margin-left: auto;
    }
    .name2{
        padding-bottom: 58px;
    }
    .hero__link{
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 123px;
        padding: 9px 32px 11px 32px ;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #004047;  
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 24px;  
    }
}
@media only screen and (max-width:600px){
    .hero__content{
        display: block;
    }
    .hero__left-box{
        margin-left: 24px;
    }
    .hero__tittle{
        max-width: 157px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .hero__sup-tittle{
        max-width: 200px;
        margin-bottom: 32px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
    .hero__navbar{
        margin-bottom: 56px;
    }
    .hero__item{
        margin-right: auto;
        margin-left: auto;
        width: 327px;
        margin-bottom: 8px;
        display: flex;
    }
    .hero__item-text{
        margin-left: 23px;
        margin-top: 23px;
        max-width: 232px; 
    }
    .hero__name{
        max-width: 327px;
        padding: 0 197px 17px 14px ;
        background-color: inherit;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        margin-bottom: 24px;
    }
    .name2{
        padding-bottom: 58px;
    }

}